<div class="container">
    <h2 class="title">Person List</h2>
  
    <div class="filter-form">
      <div class="input-group">
        <input type="text" [(ngModel)]="filterCriteria.firstName" (ngModelChange)="onFilterChange()" placeholder="First Name">
      </div>
      <div class="input-group">
        <input type="text" [(ngModel)]="filterCriteria.lastName" (ngModelChange)="onFilterChange()" placeholder="Last Name">
      </div>
      <div class="input-group">
        <input type="date" [(ngModel)]="filterCriteria.dateOfBirth" (ngModelChange)="onFilterChange()" placeholder="Date of Birth">
      </div>
      <div class="input-group">
        <select [(ngModel)]="filterCriteria.gender" (ngModelChange)="onFilterChange()">
          <option value="">All Genders</option>
          <option value="MALE">Male</option>
          <option value="FEMALE">Female</option>
        </select>
      </div>
    </div>
  
    <div class="person-list">
        <div class="person-item" *ngFor="let person of persons$ | async">
            <div class="person-info">
              <strong>Name:</strong> {{person.firstName}} {{person.lastName}}<br>
              <strong>Date of Birth:</strong> {{person.dateOfBirth | date:'yyyy-MM-dd'}}<br>
              <strong>Gender:</strong> {{person.gender}}
            </div>
            <div class="person-actions">
                <button class="icon-button edit-button" (click)="onEdit(person)">
                  <fa-icon [icon]="faEdit"></fa-icon>
                </button>
                <button class="icon-button delete-button" (click)="onDelete(person)">
                  <fa-icon [icon]="faTrashAlt"></fa-icon>
                </button>
            </div>
          </div>
    </div>
    <div class="delete-confirmation" *ngIf="showDeleteConfirmation">
        <div class="delete-confirmation-content">
          <p>Are you sure you want to delete {{personToDelete?.firstName}} {{personToDelete?.lastName}}?</p>
          <div class="delete-confirmation-actions">
            <button class="cancel-button" (click)="closeDeleteConfirmation()">Cancel</button>
            <button class="confirm-delete-button" (click)="onConfirmDelete()">Delete</button>
          </div>
        </div>
      </div>
  </div>